<div class="top-wrapper">
  <h1 class="top-title">Work Out </br> diary</h1>

  <div class="button-group">
    <%= link_to "log in", new_user_session_path, class: "main-button" %>
    <%= link_to "sign up", new_user_registration_path, class: "mini-btn" %>
  </div>

</div>

